<ion-header>
  <ion-toolbar>
    <ion-title>PLUG IN AND GO</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <ion-card-header  >
    <ion-card-title  style="margin: auto;color: aliceblue;">Welcome Back!</ion-card-title> 
    
  </ion-card-header>
  <ion-img  class="img-car" src="assets/logo.png" style="width: 300px;height: 150px; margin: auto; margin-top: 130px;" ></ion-img>
  <!-- <ion-card> -->
  

    <!-- <ion-card-header> -->
      <!-- <ion-card-subtitle>Welcome Back!</ion-card-subtitle>
      <ion-card-title>Login</ion-card-title> -->
      
    <!-- </ion-card-header> -->
    <ion-card-content>
      <ion-item>
        <ion-input  label="Username" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
      <ion-item style="margin-bottom: 20px " >
        <ion-input label="Password" labelPlacement="stacked" type="password"></ion-input>
      </ion-item>
      <ion-button style="margin: 10px auto ;width: 250px;" shape="round" expand="full" href="/tabs/tabs/tab1" fill="solid">Login</ion-button>
      <ion-button  style="margin:10px  auto ;width: 250px;" shape="round" expand="full" href="/signup" fill="solid">Sign Up</ion-button>

    </ion-card-content>
  <!-- </ion-card> -->
 </ion-content>
 