
   ion-content {
    --background: #041A44;
   }
    ion-toolbar{
    --background: #09275f;
    color: aliceblue;
   }
   ion-card {
    
    --background: transparent;
   }
   ion-item{
    --background: #13254F;
    color: aliceblue;
    border-radius: 10px ;
    margin: 10px;
   }