ion-card{
    // margin: 0 auto 0 auto;
    width: 90%;
    --background: #13254F;

}
ion-toolbar{
    --background: #09275f;
    color: aliceblue;
   }

   ion-content {
    --background: #041A44;
   }


   